@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --main-bg-color: #1b1a1a;
    --colorA: #4b4b99;
    --colorB: #e4803e;
    --colorC: #36b6d4;
    --main-text-color: #FFF;
    --main-border-color: #ccc;
    --main-border-radius: 5px;
    --main-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    --main-transition: 0.3s;
}



body{
    font-family: 'Libre Franklin', sans-serif;
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    transition: background-color 0.15s ease-in-out;
    background: linear-gradient(135deg, #F5F5F5, #1b1a1a5c);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}


@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0% 0%;
    }
}



.navbar {
    background-color: var(--main-bg-color);
    padding: 1px 20px;
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    z-index: 1000;

}

.menu-toggle {
    display: none;
}

.nav-container {
    list-style-type: none;
    width: 1400px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin: 0 15px;
}
.navbar img {
    width: 150px;
    height: 100px;
}
.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    transition: color 0.3s ease;
}
.nav-link:not(.bouton-contact, .home):hover {
    color: #F5F5F5;
    border-bottom: #FFF 2px solid;
   
}
.bouton-contact {
    background-color: var(--colorA);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.nav-link:not(.bouton-contact)::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }



.bouton-contact:hover {
    background-color: #36b6d4;
}


.Accroche img {
    margin-top: 220px;
    margin-left: 850px;
    width: 600px;
    height: 100%;



}

.Accroche p{
    font-size: 20px;
    font-family: "Libre Franklin", sans-serif;

    color: #1b1a1a;
    font-weight: 800;
    margin-top: 50px;
    margin-left: 865px;
    width: 800px;
    height: 100%;
}
.Accroche a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    background-color: var(--colorA);
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 15px;
    transition: color 0.3s ease;
    cursor: pointer;
    background: linear-gradient(90deg, var(--colorA) 0%, var(--colorB) 100%);
    background-size: 200% 100%;
    background-position: left;
    transition: background-position 0.4s ease-in-out;
}

/* Effet hover */
.Accroche a:hover {
    background-position: right;
}


.containerImg{
    display: flex;
    position: absolute;
    top: 100px;
    width: 100vw;
    z-index: -1;
    height: 500px;
    background-image: url(../images/handsome-bearded-man-pointing-fingers-rights-empty-space-looking-confident-standing-blue-b.jpg);
    background-size: cover;
}

.containerDecouvrir {
    margin-top : 200px;
    display: flex;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 400;


}

.containerDecouvrir h1 {
    font-size: 40px;
    color: #1b1a1a;
    margin-left: 205px;
    margin-top: 60px;
}

.containerDecouvrir p {
    font-weight: 600;
    font-size: 20px;
    color: #1b1a1a;
    background-color: #e4803e;
    padding: 25px 45px;
    border-radius: 14px;
    margin-left: 250px;
    margin-top: 50px;
    width: 500px;
    line-height: 1.5 ;
    box-shadow: #1b1a1abc 5px 5px 0px ;
}

.containerDecouvrir img {
    display: flex;
    position: absolute;
    width: 550px;
    height: 350px;
    top: 780px;
    left: 150px;
    border-radius: 14px;
}


/********** Page jeu**********/

.container-jeux {
    background-color: var(--main-border-color);
    overflow-y: hidden;
    height: 100vh;
}

.ligne1{
    display: flex;
    flex-direction: row;
    margin: 20px;
    max-width: 110vw;
    height: 350px;
    margin-top: 30px;
}

.ligne1 {
    height: 420px;
    margin-left: 40px;
}

.ligne2 {
    position: relative;
    height: 200px;
    width: 70%;
    margin: 20px;
    margin-top: 40px;
    margin-left: 245px;
    box-shadow: -3px 0px 21px 1px rgba(0,0,0,0.35);
    -webkit-box-shadow: -3px 0px 21px 1px rgba(0,0,0,0.35);
    -moz-box-shadow: -3px 0px 21px 1px rgba(0,0,0,0.35);
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px 20px;
}

.ligne2::after {
    content: "";
    position: absolute;
    top: -20px;
    left: 9%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid white;
    border-top: none;
}

.colonne1 {
    width: 30%;
    margin-right: 20px;
}

.colonne2 {
    width: 70%;
    border-radius: 15px;
}

video {
    border-radius: 15px;
    box-shadow: -3px 0px 21px 1px rgba(0,0,0,0.35);
    -webkit-box-shadow: -3px 0px 21px 1px rgba(0,0,0,0.35);
    -moz-box-shadow: -3px 0px 21px 1px rgba(0,0,0,0.35);
}

.vid2 {
    display: none;
}


.button-group {
    position: absolute;
    bottom: 15px;
    right: 20px;
}


.avatar1, .avatar2, .avatar3, .avatar4 {
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 15px;
    box-shadow: -3px 0px 21px 1px rgba(0,0,0,0.35);
    -webkit-box-shadow: -3px 0px 21px 1px rgba(0,0,0,0.35);
    -moz-box-shadow: -3px 0px 21px 1px rgba(0,0,0,0.35);
}

.avatar2 {
    display: none;
}

.dialogue1, .dialogue2 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
}

.dialogue2 {
    display: none;
}

.elevateBtn {
    margin-left: 8px;
    background-color: var(--main-bg-color);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.elevateBtn:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
}

.elevateBtn:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}




.News {
    display: flex;
    flex-direction: row;
    margin: 20px;
    max-width: 110vw;
    margin-top: 30px;
    margin-bottom: 100px;
}


.news1{
    background-color: #f0fafa;
    width: fit-content;
    padding: 0.2px 20px;
    border-radius: 15px;
    margin-bottom: 14px;
}

.news2{
    background-color: #f0fafa;
    width: fit-content;
    padding: 2px 20px;
    border-radius: 15px;
    margin-bottom: 14px;

}
.news3{
    background-color: #f0fafa;
    width: fit-content;
    padding: 2px 20px;
    border-radius: 15px;
    margin-bottom: 10px;

}

.colonne1-news {
    width: 40%;
    height: 520px;
    padding: 10px 20px;
    background-color: var(--colorC);
    box-shadow: #1b1a1abc 5px 5px 0px;
    border-radius: 15px;
    margin-right: 20px;
    margin-left: 125px;
}

.colonne2-news {
    width: 40%;
    border-radius: 15px;
}

.tab-menu{
    display: flex;
    background-color: var(--colorA);
    color: var(--colorC);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    list-style: none;
    max-width: 800px;
    padding: 10px;
    white-space: nowrap;
    border-bottom: 1px solid #888;
    border: 50px;
    border-radius: 15px;
    overflow-x: auto;
    user-select: auto;
}

.tab-menu::-webkit-scrollbar{
    display: none;
}

.tab-btn{
    
    color: var(--colorC);
    display: inline-block;
    font-size: 1em;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    margin: 0 2px;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: var(--colorA);
    transition: 0.3 ease-in-out;
}

.tab-btn.active {
    border-bottom: 1px solid var(--colorA);
}

.tab-nav-bar{
    position:relative;
    margin: 65px 5px;
}

.tab-navigation{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 95vw;
    margin: 0 auto;
}




.title-news {
    font-size: 38px;
    color: #1b1a1a;
    margin-left: 205px;
    margin-top: 25px;
    font-weight: 800;
    margin-bottom: 40px;


}

.title-news2 {
    font-size: 38px;
    color: #1b1a1a;
    margin-left: 125px;
    margin-top: 200px;
    font-weight: 800;
    margin-bottom: 80px;
    text-align: center;


}
.colonne2IMG {
    display: flex;
    position: absolute;
    width: 300px;
    height: auto;
    top: 1420px;
    left: 990px;
    border-radius: 14px;
    margin-left: -20px;
}



.menu-btn {
    position: fixed;
    bottom: 45px; 
    left: 1004px;    
    margin-left: 8px;
    background-color: var(--main-bg-color);
    color: white;
    border: none;
    padding: 8.7px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.quiz-btn {
    position: fixed;
    bottom: 45px; 
    right: 40px;
    margin-left: 8px;
    background-color: var(--colorB);
    color: white;
    border: none;
    padding: 8.7px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Menu latéral caché par défaut */
.side-menu {
    position: fixed;
    top: 465px;
    left: -230px; 
    width: 200px;
    height:250px;
    margin-left: 20px;
    background-color: #333;
    transition: left 0.3s ease-in-out;
    z-index: 999;
    padding-top: 0px;
    border-radius: 14px;
}

/* Contenu du menu */
.menu-homeIMG {
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
}


.side-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

}

.side-menu ul li {
    margin: 20px 0;
    
}
.side-menu ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    transition: background 0.3s, border-radius 0.3s;
    border-radius: 14px; 
}

.side-menu ul li a:not(.imageHome):hover {
    background-color: #444;
}



.menu-btn:hover {
    transform: translateY(-5px);
}

.menu-btn:active {
    transform: translateY(1px);
}

/* Menu visible */
.side-menu.open {
    left: 0;
}

.imageHome{
    margin-left: 0px;
}


/********** Page contact **********/

.mainTitle {
    text-align: center;
    color: #e74c3c; 
    font-size: 36px; 
    font-weight: bold; 
    margin-top: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background: linear-gradient(90deg, #1b1a1a,  #ccc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


  .Form-contact {
    max-width: 600px;
    margin: 20px auto;
    margin-top: 85px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .Form-contact label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

.Form-contact input, textarea {
    width: 96%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .Form-contact button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color:#e4803e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .Form-contact button:hover {
    background-color: #1b1a1a;
  }


  .contact-info {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .contact-info p {
    margin: 5px 0;
  }

  .contact-info h3 {
    margin-bottom: 15px;
  }


 .Map {
    display: block;
    margin: 40px auto;
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }


  iframe{
    width: 100%;
    height: 400px;
    border: none;
    border-radius: 8px;
    background-color: blue;
  }


  /*Footer kurwa*/

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.footer-contenu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
    padding-bottom: 20px;
}

.footer-colonne {
    margin-right: 20px;
}

.footer-colonne ul {
    list-style: none;
    padding: 0;
}

.footer-colonne li {
    margin-bottom: 10px;
}

.footer-colonne a {
    color: #fff;
    text-decoration: none;
}

.footer-colonne a:hover {
    text-decoration: underline;
}

.footer-logo img {
    margin-top: 10px;
    width: 300px;
    height: auto;
}

.footer-icons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.footer-icons div {
    margin: 0 10px;
}

.footer-icons img {
    width: 30px;
    height: 30px;
}

.footer-adresse ul {
    list-style: none;
    padding: 0;
}

.footer-adresse li {
    margin-bottom: 5px;
}






.quiz-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.quiz-title {
    text-align: center;
    color: #333;
}

.quiz-form {
    margin-top: 20px;
}

.quiz-question {
    margin-bottom: 20px;
}

.question-title {
    margin-bottom: 10px;
    color: #333;
}

.quiz-option {
    margin-bottom: 5px;
    color: #555;
}

.quiz-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.quiz-button:hover {
    background-color: #45a049;
}

.quiz-result {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #333;
}